#card {
    border: 2px solid rgb(216, 112, 147);
    margin: 1px;
    background-color: rgb(255, 238, 238, 0.5);
    display: block;
    border-radius: 8px;
}

#pic {
    float: right;
}

p {
    margin-top: 0em;
    margin-bottom: 0em;
}