#chat {
    /*position: absolute;*/
    margin-top: 80px;
    /*margin-left: 60%;*/
}
body {
    background-image: url("../../assets/pozadina.jpg");
    background-size: cover;
    min-height: 100%;
    font-family: sans-serif;
    
}

html {
    min-height: 100%;
}