<head>
    <link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>

<div class="container-fluid bg flex-column d-flex">

    <div class="row" style="/*background-color: yellow;*/">
        <div class="col-3" style="padding-left: 2%; padding-right: 2%;">
            <!--spisak ljudi u sobi-->
            <h1>Škrabo</h1>
            <app-player-list></app-player-list><br>
            <button *ngIf="isCreator()" type="submit" class="btn btn-primary btn-block btn-warning" (click)="onStartGame($event)"> Start game</button>
        </div>

        <div *ngIf="isUserTurn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="col-6">
                <div class="justify-content-center" id="dashes">
                    <p *ngFor="let letter of word" class="dashes"> {{letter}} </p>
                </div>
                <app-word-picker></app-word-picker>
            </div>
        </ng-template>

        <ng-template #elseBlock>
            <div class="col-6">
                <div class="justify-content-center" id="dashes">
                    <p *ngFor="let letter of word" class="dashes"> {{letter}} </p>
                </div>
                <app-whiteboard></app-whiteboard>
            </div>
        </ng-template>


        {{getTimestamp()}}
        <div class="col-3" style="padding-left: 2%; padding-right: 2%;">
            <h4 style="padding-bottom: 10%">{{roomName | async }}</h4>
            <!--zbog ovoga je cet spusten-->
            <app-chat></app-chat>
        </div>
    </div>

    <!--visina rowa zavisi od najvece visine necega unutra-->
    <div class="row">
        <div style="height: 20vh"></div>
    </div>

</div>