* {
    margin: 0;
    padding: 0;
}

#cards {
    margin-top: 80px;
}


.bg {
    background: url("../../assets/pozadina.jpg");
    width: 100%;
    background-size: cover;
}

h1 {
    padding: 2%;
    font-size: 5vw; font-weight: 600;
    color: lightseagreen;
    font-family: 'Annie Use Your Telescope';
    cursor: default;
  }
