<head>
	<link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
</head>

<body>
    <h1 style="cursor:default">Škrabo</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <app-whiteboard></app-whiteboard>
            </div>
            <div class="col-sm-3"></div>
            
            <div id="chat" class="col-sm-3">
                <h4 style="padding-bottom: 10%">{{roomName | async }}</h4>
                <app-chat></app-chat>
            </div>
        </div>
    </div>
</body>
