<head>
	<link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
</head>

<body>
    <h1 style="cursor:default">Škrabo</h1>
    
    <div id="canvas" >
      <canvas id="board" width="700px" height="450px"> </canvas>
    </div>
    <div id="icons">
        <div class="iconBig">
 
        </div>
        <div class="iconSmall">
           <div class="icon" id="iconColor0">
 
           </div>
           <div class="icon" id="iconColor1">
             
           </div>
           <div class="icon" id="iconColor2">
             
           </div>
           <div class="icon" id="iconColor3">
             
           </div>
           <div class="icon" id="4">
             
           </div>
           <div class="icon" id="5">
             
           </div>
           <div class="icon" id="6">
             
           </div>
           <div class="icon" id="7">
             
           </div>
           <div class="icon" id="8">
             
           </div>
           <div class="icon" id="9">
             
           </div>
           <div class="icon" id="10">
             
           </div>
           <div class="icon" id="11">
 
           </div>
           <div class="icon" id="12">
             
           </div>
           <div class="icon" id="13">
             
           </div>
           <div class="icon" id="14">
             
           </div>
           <div class="icon" id="15">
             
           </div>
           <div class="icon" id="16">
             
           </div>
           <div class="icon" id="17">
             
           </div>
           <div class="icon" id="18">
             
           </div>
           <div class="icon" id="19">
             
           </div>
           <div class="icon" id="20">
             
           </div>
           <div class="icon" id="21">
             
           </div>
        </div>
        <div class="iconBig">
 
        </div>
        <div class="iconBig">
          
       </div>
       <div class="iconBig">
          
       </div>
       <div class="iconBig">
          
       </div>
       <div class="iconBig">
          
       </div>
       <div class="iconBig">
          
       </div>
    </div>
</body>
