body {
    background-image: url("22534.jpg");
    background-size: cover;
    width: 100vw; height: 100vh;
    font-family: sans-serif;
}

h1 {
    display: block; width: 30%;
    text-align: center; padding: 10px;
    font-size: 50px; font-weight: 600;
    color: lightseagreen;
    position: absolute;
    margin-left: 30%;
}

#board {
    background-color: white;
    border: 2px solid violet;
}

#canvas {
    position: absolute;
    margin-top: 80px;
    margin-left: 20%;
}

#icons {
    width: 750px;
    height: 50px;
    background: none;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 550px;
    margin-left: 18%;
}

.iconBig {
    width: 58px;
    height: 56px;
    border: 1px solid #333;
}
.iconSmall {
    width: 330px;
    height: 58px;    
}
.icon {
    width: 28px;
    height: 28px;
    border: 1px solid #333;
    float: left;
}
#i0 {
    background: black;
}
