
body {
    background-image: url("22534.jpg");
    background-size: cover;
    width: 100vw; height: 100vh;
    font-family: sans-serif;
}

#board {



    background-color: white;
    border: 2px solid violet;
}

#canvas {

    width: 750px;
    height: 550px;
    margin: auto;
    padding-top:250px;
}

#icons{
    width: 750px;
    height:60px;
    background:none;
    margin:0px auto;
    margin-top:10px;
    display:flex;
    justify-content: center;
 
}
.iconBig{
    width: 58px;
    height: 58px;
    border:1px solid #333;
}
.iconSmall{
    width:330px;
    height:58px;    
}
.icon{
    width:28px;
    height:28px;
    border:1px solid #333;
    float:left;
}


#i0{
background: black;
}

