body {
    background-image: url("22534.jpg");
    background-size: cover;
    width: 100vw; height: 100vh;
    font-family: sans-serif;
}

h1 {
    display: block; width: 30%;
    text-align: center; padding: 10px;
    font-size: 50px; font-weight: 600;
    color: lightseagreen;
    position: absolute;
    margin-left: 30%;
}

#board {
    background-color: white;
    border: 2px solid violet;
}

#canvas {
    position: absolute;
    margin-top: 80px;
    margin-left: 20%;
}

#icons {
    width: 750px;
    height: 50px;
    background: none;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 550px;
    margin-left: 18%;
}

.iconBig {
    width: 58px;
    height: 56px;
    border: 1px solid #333;
}
.iconSmall {
    width: 330px;
    height: 58px;    
}
.icon {
    width: 28px;
    height: 28px;
    border: 1px solid #333;
    float: left;
}

#bigIcon0 {
    background-image: url("pensmall.png");
}

#bigIcon1 {
    background-image: url("penmidsmall.png");
}

#bigIcon2 {
    background-image: url("penmidbig.png");
}

#bigIcon3 {
    background-image: url("penbig.png");
}

#bigIcon4 {
    background-image: url("eraseicon.png");
}


#iconColor0 {
    background: black;
}

#iconColor1 {
    background: rgb(71, 71, 71);
}

#iconColor2 {
    background: rgb(146, 146, 146);
}

#iconColor3 {
    background: rgb(255, 255, 255);
}

#iconColor4 {
    background: rgb(255, 0, 0);
}

#iconColor5 {
    background: rgb(255, 123, 0);
}

#iconColor6 {
    background: rgb(255, 238, 0);
}

#iconColor7 {
    background: rgb(255, 151, 151);
}

#iconColor8 {
    background: rgb(43, 255, 0);
}

#iconColor9 {
    background: rgb(102, 185, 158);
}

#iconColor10 {
    background: rgb(108, 255, 248);
}

#iconColor11 {
    background: rgb(0, 26, 255);
}

#iconColor12 {
    background: rgb(167, 151, 255);
}

#iconColor13 {
    background: rgb(162, 0, 255);
}

#iconColor14 {
    background: rgb(243, 151, 255);
}

#iconColor15 {
    background: rgb(75, 27, 27);
}

#iconColor16 {
    background: rgb(39, 29, 29);
}

#iconColor17 {
    background: rgb(29, 56, 38);
}

#iconColor17 {
    background: rgb(36, 59, 70);
}

#iconColor18 {
    background: rgb(29, 56, 38);
}

#iconColor19 {
    background: rgb(29, 56, 38);
}

#iconColor20 {
    background: rgb(200, 255, 0);
}

#iconColor21 {
    background: rgb(88, 57, 92);
}

