<head>
	<link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
</head>

<body>
    <h1 style="cursor:default">Škrabo</h1>
    
    <div id="canvas" >
      <canvas id="board" width="740px" height="450px"> </canvas>
    </div>
    <div id="icons">
        <div class="iconBig" id="iconBigCurrent" [ngStyle]="setColor()">
 
        </div>
        <div class="iconSmall">
           <div class="icon" id="iconColor0">
           </div>

           <div class="icon" id="iconColor1">           
           </div>

           <div class="icon" id="iconColor2"> 
           </div>

           <div class="icon" id="iconColor3">
           </div>

           <div class="icon" id="iconColor4">
           </div>
           <div class="icon" id="iconColor5">
             
           </div>
           <div class="icon" id="iconColor6">
             
           </div>
           <div class="icon" id="iconColor7">
             
           </div>
           <div class="icon" id="iconColor8">
             
           </div>
           <div class="icon" id="iconColor9">
             
           </div>
           <div class="icon" id="iconColor10">
             
           </div>
           <div class="icon" id="iconColor11">
 
           </div>
           <div class="icon" id="iconColor12">
             
           </div>
           <div class="icon" id="iconColor13">
             
           </div>
           <div class="icon" id="iconColor14">
             
           </div>
           <div class="icon" id="iconColor15">
             
           </div>
           <div class="icon" id="iconColor16">
             
           </div>
           <div class="icon" id="iconColor17">
             
           </div>
           <div class="icon" id="iconColor18">
             
           </div>
           <div class="icon" id="iconColor19">
             
           </div>
           <div class="icon" id="iconColor20">
             
           </div>
           <div class="icon" id="iconColor21">
             
           </div>
        </div>
        <div class="iconBig" id="bigIcon0" (click)="onPenSmall()">
 
        </div>
        <div class="iconBig" id="bigIcon1" (click)="onPenMidSmall()">
          
       </div>
       <div class="iconBig" id="bigIcon2" (click)="onPenMidBig()">
          
       </div>
       <div class="iconBig" id="bigIcon3" (click)="onPenBig()">
          
       </div>
       <div class="iconBig" id="bigIcon4" (click)="onClearCanvas()">
          
       </div>

    </div>
</body>
