#chat {
    overflow-y: scroll;
    overflow-x: hidden;
    /*width: 100%;*/
    height: 500px;
    background-color: white;
}

#input {
    position: relative;
}


@font-face {
    font-family: 'Comic Sans MS';
    src: 'ComicSansMS.ttf';
}

#message {
    word-wrap:break-word;
    width: 250px;
    display: block;
    font-size: large;
    font-style: bold;
    font: 'Comic Sans MS';
}