#chat {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 80%;
    background-color: white;
}

#input {
    margin-top: 2%;
    width: 100%;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: 'ComicSansMS.ttf';
}

#message {
    word-wrap: break-word;
    width: 60%;
    display: block;
    font-size: large;
    font-style: bold;
    font: 'Comic Sans MS';
}
