<head>
	<link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
	<link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>

<body>
	<div class="content">
		<h1 style="cursor:default">Škrabo</h1>
		
		<div class="container-fluid">
		<div class="row">
		
		<div class="col-4" style="margin-left: 5%">
		<div class="alert alert-primary">
			<div class="form-group">
				<label for="ime" style="font-size: 2.5vh">Unesi ime:</label>
				<input type="text" id="ime" class="form-control mb-3" #ime>
			</div>
			
			<div class="okvir">
				<img src = "assets/pen.gif">
			</div>
			
			<div class="dugme">
				<button class="dugme-osnovno" id="btnIgraj" [routerLink]="['/game']" (click)="onUnosImena(ime.value, kodSobe.value, imeSobe.value)">Igraj</button>
			</div>
			<div class="dugme">
				<button class="dugme-osnovno" id="btnPridruziSeSobi" (click)="onPridruzivanjeSobi()">Pridruži se privatnoj sobi</button>
				<div [hidden]="getPridruzivanjeSobi">
					<label for="kodSobe">Unesi ID sobe:</label>
					<br>
					<input type="text" name="kodSobe" id="kodSobe" #kodSobe>
				</div>
			</div>
			<div class="dugme">
				<button class="dugme-osnovno" id="btnNovaSoba" (click)="onPravljenjeNoveSobe()">Kreiraj privatnu sobu</button>
				<div [hidden]="getPravljenjeNoveSobe">
					<label for="imeSobe">Unesi ime sobe:</label>
					<br>
					<input  type="text" name="imeSobe" id="imeSobe" #imeSobe>
				</div>
			</div>
		</div>
		</div>
		
		<div class="col-3">
		<div class="parent">
			<img class="image1" src="assets/cope.jpg" alt="skrabo">
			<img class="image2" src="assets/ananas.png" alt="skrabo">
			<img class="image3" src="assets/bambi.png" alt="skrabo">
		</div>
		</div>
		
		<div class="col-4">
		<div class="sadrzaj">
			<h2 (click)="onPrikaziInfo()" style="cursor:pointer">Opis</h2>
			<p *ngIf="getPrikaziInfo" class="tekst">
				Škrabo je igra crtanja i pogađanja. Jedan igrač crta odabranu reč, dok ostali
				pogađaju u četu koja je to reč. Ko pogodi dobija poene. Igrač sa najviše poena je pobednik.
			</p>
			
			<h2 (click)="onPrikaziPravila()" style="cursor:pointer">Pravila igre</h2>
			<p *ngIf="getPrikaziPravila" class="tekst">
				Uputstva za igru idu ovde... <br>
				Uputstva za igru idu ovde... <br>
				Uputstva za igru idu ovde... <br>
			</p>

			<h2 (click)="onPrikaziAutore()" style="cursor:pointer">Autori</h2>
			<p *ngIf="getPrikaziAutore" class="tekst">
				<img src="assets/person_male.png">
				Nikola Janković <br>
				<img src="assets/person_female.png">
				Ana Marković <br>
				<img src="assets/person_female.png">
				Anđela Milićević <br> 
				<img src="assets/person_male.png">
				Jovan Mirkov <br>
			</p>
		</div>
		</div>

		</div>
		</div>
	</div>
</body>
