<head>
	<link rel="icon" href="assets/cope.jpg" type="image/gif" sizes="16x16">
	<link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>

<div class="container-fluid bg flex-column d-flex">
	<div class="row justify-content-center"> <h1>Škrabo</h1> </div>

	<div class="row">
		<div class="col-4" style="margin-left: 5%;">
			<div class="random">
				
				<div class="form-group">
						<label for="ime" style="font-size: 2.5vh">Unesi ime:</label>
						<input type="text" id="ime" class="form-control mb-3" #ime>
				</div>
				<div class="okvir"> <img src="assets/pen.gif"> </div>
				
				<button class="dugme" id="btnIgraj" [routerLink]="['/game']" (click)="onUnosImena(gameInfoComponent.gameInfoForm, kodSobe.value, ime.value)">Igraj</button>
				<button class="dugme" id="btnPridruziSeSobi" (click)="onPridruzivanjeSobi()">Pridruži se privatnoj sobi</button>	
				<button class="dugme" id="btnNovaSoba" (click)="onPravljenjeNoveSobe()">Kreiraj privatnu sobu</button>
			</div>
		</div>
		
		<div class="col-3">
			<div class="parent">
				<img class="image1" src="assets/cope.jpg" alt="skrabo">
				<img class="image2" src="assets/ananas.png" alt="skrabo">
				<img class="image3" src="assets/bambi.png" alt="skrabo">
			</div>
		</div>
		
		<div class="col-4">
			<div class="sadrzaj">
				<h2 (click)="onPrikaziInfo()"> Opis </h2>
				<p *ngIf="getPrikaziInfo" class="tekst">
					Škrabo je igra crtanja i pogađanja. Jedan igrač crta odabranu reč, dok ostali
					pogađaju u četu koja je to reč. Ko pogodi dobija poene. Igrač sa najviše poena je pobednik.
				</p>
				
				<h2 (click)="onPrikaziPravila()"> Pravila igre </h2>
				<p *ngIf="getPrikaziPravila" class="tekst">
					Uputstva za igru idu ovde... <br>
					Uputstva za igru idu ovde... <br>
					Uputstva za igru idu ovde... <br>
				</p>

				<h2 (click)="onPrikaziAutore()"> Autori </h2>
				<p *ngIf="getPrikaziAutore" class="tekst">
					<img src="assets/nikola.png"> Nikola Janković <br>
					<img src="assets/ana.png"> Ana Marković <br>
					<img src="assets/andjela.png"> Anđela Milićević <br> 
					<img src="assets/jovan.png"> Jovan Mirkov <br>
				</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-4" style="margin-left: 5%; margin-top:2%; background-color: #B0E0E6; color: #483D8B;">
			<div [hidden]="getPridruzivanjeSobi" style="padding: 4% 10% 5%;">
				<div class="">
					<label for="kodSobe" style="font-size: 2.5vh">Unesi ID sobe:</label>
					<input type="text" name="kodSobe" id="kodSobe" class="mb-3" #kodSobe>
				</div>
			</div>
			
			<div [hidden]="getPravljenjeNoveSobe" style="padding: 4% 10% 5%;">
				<app-game-info-form #gameInfoComponent></app-game-info-form>
			</div>
		</div>
	</div>

	<div class="row justify-content-center" style="margin-top: 5%;">
		<p id="footer"> Copyright © 2020 <strong>Škrabo</strong> </p>
	</div>
</div>
