* {
    font-size: 3vw;
    font-weight: 600;
    color: lightseagreen;
    font-family: 'Annie Use Your Telescope';
    cursor: default;
}

#parent {
    height: 80vh;
    background-color: rgb(240, 248, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}